.container-fluid {
  border: 1px solid red; }

.question {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  border-radius: 4px;
  margin: 4px; }

#answer-input {
  padding: 0 !important; }

.answers {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  border-radius: 4px;
  margin: 4px; }
  .answers .img-user {
    width: 80px;
    height: 80px;
    border-radius: 4px; }
  .answers .answer-row {
    background: #fff;
    margin: 2px 0px;
    border-radius: 4px;
    padding: 3px; }

#like {
  width: 11px;
  height: 11px;
  border: 1px solid red; }
  #like.not-like {
    background: none; }
  #like.like {
    background: red; }
